body {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: system-ui;
   padding: 20px;
   gap: 20px;
   background: #fafafa;
}

.container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   max-width: 1000px;
   gap: 10px;
   border: 1px solid #ccc;
   border-radius: 8px;
   padding: 15px;
   background: #fff;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}