body {
   font-family: Arial, sans-serif;
   text-align: center;
   margin: 30px;
   background-color: blanchedalmond;
}
.controls {
   margin-bottom: 12px; 
}
button {
   margin: 4px;
   padding: 12px;
   min-width: 150px;
   cursor: pointer;
   background: #fafafa;
   border-radius: 10px;
   border: 2px solid #ccc;
   transition: transform 0.2s ease-in-out;
   &:hover {
      background: #eae9e9;
      transform: translateY(-3px) scale(1.03);
      
   }
}
.counters {
   margin: 12px 0;
}
.board {
   display: flex;
   flex-wrap: wrap;
   background: #fafafa;
   border: 2px dashed #ccc;
   border-radius: 10px;
   margin: 12px auto;
   padding: 12px;
   max-width: 750px;
   min-height: 160px;
   gap: 10px;
}
.shape {
   width: 60px;
   height: 60px;
   cursor: pointer;
   transition: transform 0.3s, background-color 0.4s;
   border: 3px solid black;
}
.shape:hover {
   transform: scale(1.1);
}
.square {
   border-radius: 6px;
   &:hover {
      transform: rotate(90deg) translateY(-4px) scale(1.02);
   }
}
.circle {
   border-radius: 50%;
   &:hover {
      transform: rotate(5deg) translateY(-6px) scale(1.02);
   }
}